<div class="col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4><i class="icon-layers"></i> List
			<button class="btn btn-primary notika-btn-primary btn-lg pull-right" ng-click="app.course(this)">Add</button>
			</h4>
			<br>
		</div>
		<div class="table-responsive">
			<table id="adds" class="table table-striped">
			  <thead>
				<tr>
				  <th>No.</th>
				  <th>Course Name</th>
				  <th>Program</th>
				  <th>&nbsp;</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="c in courses">
				  <td>{{c.id}}</td>
				  <td>{{c.course_name}}</td>
				  <td>{{c.course_short_name}}</td>
				  <td>
				  <button class="btn btn-sm btn-primary" ng-click="app.course(this,c)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
				  <button class="btn btn-sm btn-googleplus" ng-click="app.delete(this,c)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
				  </td>
				</tr>
			  </tbody>
			   <tfoot>
                  <tr>
                  <th>No.</th>
				  <th>Course Name</th>
				  <th>Program</th>
				  <th>&nbsp;</th>
                  </tr>
                  </tfoot>
			</table>
		</div>
	</div>
</div>