<div class="col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4><i class="icon-layers"></i> List
			<button class="btn btn-primary notika-btn-primary btn-lg pull-right" ng-click="app.user(this)">Add</button>
			</h4>
			<br>
		</div>
		<div class="table-responsive">
			<table id="users" class="table table-striped">
			  <thead>
				<tr>
				  <th>No.</th>
				  <th>Name</th>
				  <th>Username</th>
				  <th>Account Type</th>
				  <th>&nbsp;</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="u in users">
				   <td>{{u.id}}</td>
				  <td>{{u.fullname}}</td>
				  <td>{{u.username}}</td>
				  <td>{{u.type}}</td>
				  <td>
				  <button class="btn btn-sm btn-primary" ng-click="app.user(this,u)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
				  <button class="btn btn-sm btn-googleplus" ng-click="app.delete(this,u)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
				  </td>
				</tr>
			  </tbody>
			   <tfoot>
                  <tr>
                  <th>No.</th>
				  <th>Name</th>
				  <th>Username</th>
				  <th>Account Type</th>
				  <th>&nbsp;</th>
                  </tr>
                  </tfoot>
			</table>
		</div>
	</div>
</div>